//https://github.com/premasagar/cleanslate

.cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#iframe-wrapper {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 70%;
  padding: 5px;
  box-sizing: border-box;
}

#iframe-wrap {
  position: relative;
}

#iframe-overlay-trap {
  display: none;
  position: absolute;
  opacity: 0;
}

#iframe {
  visibility: visible;
  position: absolute;
  padding: 0;
  margin: 0;
}